/**
 * 加载框
 */

#sjLoading {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 9999;
	display: none;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.1);
}
#sjLoading div {
	display: inline-block;
	padding: 10px 15px;
	font-weight: normal;
	font-size: 12px;
	background-color: #fff;
	border-radius: 1px;
}
#sjLoading div .mui-icon {
	margin-top: 0;
	font-size: 16px;
}
/**
 * 公共
 */

html,
body {
	background: #f4f4f4;
}
#hcHeader {
	top: -1px;
	/*修复某些手机距离顶部有1px空隙的bug*/
}
#hcShare {
	display: none;
}
.mui-content {
	background: #f4f4f4;
}
.mui-table-view {
	margin-top: 0 !important;
	padding: 10px;
	background-color: transparent;
	background-image: none;
}
.mui-table-view-cell {
	margin-bottom: 10px;
	padding: 15px;
	background-color: #fff;
	background-image: none;
	box-shadow: 0 1px 5px rgba(0, 0, 0, .1);
}
.mui-table-view-cell:last-child {
	margin-bottom: 0;
}
.mui-table-view-cell > a:not(.mui-btn) {
	margin: -15px;
}
/**
 * 生活保健
 */

#hcLifeList .hc-title {
	margin-bottom: 10px;
}
#hcLifeList .hc-info {
	display: block;
	font-size: 12px;
	color: #bbb;
}
#hcLifeList .hc-info span {
	margin-right: 5px;
}
/**
 * 旅游中国
 */

#hcTravelList .mui-media-object {
	max-width: none;
	width: 90px;
	height: 60px;
}
#hcTravelList .hc-loc,
#hcTravelList .hc-info {
	font-size: 12px;
	color: #999;
}
#hcTravelList .hc-info {
	position: relative;
}
#hcTravelList .hc-loc span,
#hcTravelList .hc-info span {
	margin-right: 3px;
}
#hcTravelList .hc-loc .fa {
	font-weight: bold;
	font-size: 14px;
	color: #DD524D;
}
#hcTravelList .hc-info .fa {
	font-size: 14px;
	color: #EC971F;
}
#hcTravelList .hc-info .hc-like {
	position: absolute;
	top: 0;
	right: 0;
}
#hcTravelList .hc-info .hc-like .fa {
	color: #DD524D;
}